/* double class names to fix specifity issues 🙃 */

.checkbox.checkbox {
  @apply appearance-none;
  @apply rounded shadow-none;
  @apply border border-gray-300;
  @apply outline-none;
  @apply text-brand;

  width: 1em;
  height: 1em;
}

.checkbox.checkbox:focus {
  @apply outline-none border-brand-500 ring-brand-500;
}

.checkbox.checkbox:checked, .checkbox.checkbox:focus:checked, .checkbox.checkbox:hover:checked {
  background-color: theme('colors.brand.500');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;

  background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTYgMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEyLjIwNyA0Ljc5M2ExIDEgMCAwMTAgMS40MTRsLTUgNWExIDEgMCAwMS0xLjQxNCAwbC0yLTJhMSAxIDAgMDExLjQxNC0xLjQxNEw2LjUgOS4wODZsNC4yOTMtNC4yOTNhMSAxIDAgMDExLjQxNCAweiIgZmlsbD0id2hpdGUiLz48L3N2Zz4=);
}