@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    @apply min-h-full flex flex-1 flex-col;
  }
}

@layer utilities {
  @variants responsive {
    .icon {
      width: 1.5em;
      height: 1.5em;
    }

    .icon-sm {
      width: 1em;
      height: 1em;
    }
  }

  .icon-button {
    @apply rounded-full;
    @apply ring-2 ring-opacity-0 focus:ring-opacity-50;
    @apply outline-none focus:outline-none;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');
